<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    {%- comment -%}Upload Header Image{%- endcomment -%}
    <a class="navbar-brand" href="#">
        {% if section.settings.header_image %}
            <img src="{{ section.settings.header_image | img_url }}">
        {% else %}
            {{ section.settings.header_text }}
        {% endif %}
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                [{% for childlink in linklists[child_list_handle].links %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    </li>
                {% endfor %}]
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
        </li>
      </ul>
      <form action="/search" method="GET" role="search">
        <input type="text" name="q" placeholder="Search" value="{{ search.terms | escape }}">
      </form>
    </div>
  </div>
</nav>

{% if shop.customer_accounts_enabled %}
    {% if customer %}
        <a href="/account">account</a>
        {{ 'log out'  | customer_logout_link }}
    {% else %}
        {{ 'log in ' | customer_login_link }}
        {{ 'register' | customer_register_link }}
    {% endif %}
{% endif %}

{% schema %}
    {
        "name": "Header Area",
        "class": "header-section",
        "settings": [
            {
                "type": "image_picker",
                "id": "header_image",
                "label": "HeaderImage"
            },
            {
                "type": "text",
                "id": "header_text",
                "label": "HeaderText",
                "default": "JVPhoto"
            }
        ]
    }
{% endschema %}